<div class="index-property-page"><h1>Properties</h1>

<div class="group">
<% @properties.each do |property| %>
  <div class="index-property">
    <%= link_to "#{property.address} #{property.floor} Floor", property_url(property), class: "btn btn-default" %><br>
    <%= image_tag property.picture.url, class: "img-properties-index" %>
  </div>
<% end %>
</div>

</div>