<div class="index-property-page"><h1>Properties</h1>

<div class="group">
<% @properties.each do |property| %>
  <div class="index-property">
    <%= link_to "#{property.address} #{property.floor} Floor", property_url(property), class: "btn btn-default" %><br>
    <img class="img-properties-index" src="<%= property.picture_url %>" > 
  </div>
<% end %>
</div>

</div>