.pos-neg-lev {
  width: 800px;
  margin: auto;

}

.index-property {
  float: left;
  width: 300px;
  margin: 5px;
}

.index-property-page {
  width: 1000px;
  margin: auto;
}

.img-properties-index {
  width: 290px;
  height: 200px;
}

.create-contact {
  float: left;
  width: 250px;
}

.create-showing {
  float: right;
  width: 250px;
}

.add-contact-page {
  width: 600px;
  margin: auto;
}
.showing {
  margin: 5px;
  width: 240px;
  height: 150px;
  border: 1px solid red;
  text-align: center;
  float: left;
  padding-top: 20px;
  border-radius: 15px;
}

#property_interest_rate {
  width: 60px;
}

#property_amortization {
  width: 60px;
}

#property_interest_only {
  width: 60px;
}

.left-column {
  width: 220px;
}

.right-column {
  text-align: center;
}

.dashboard-table {
  width: 500px;
}

.current-button {
  background-color: red;
}



.space-info {
  width: 500px;

}

.rightbar {
  text-align: center;
}

.leftbar {
  width: 300px;
  float: left;

}

.property-page {
  width: 1000px;
  margin: auto;

}



.add-property-input {
  width: 400px;
  height: 40px;
}

.add-showing-input {
  width: 220px;
  height: 40px;
}


.sign-in {
  text-align: center;
  padding-top: 100px;
}

.body-application-layout {
  padding-left: 10px;
  padding-right: 10px;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.menu-left {
  float: left;  
}

.menu-right {
  float: right; 
  padding-right: 25px;
}

.menu-right ul {
  padding-top: 15px;
  text-align: right;
}

.menu-right p {
  padding-top: 25px;
}

ul {
  list-style: none;
}

.menu-bottom-center {
  text-align: center;
  margin-top: 20px;
}

.menu-bottom-center li {
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 18px;
}



